/*Para colocar novo estilo de fonte, precisa vir na primeira linha no CSS*/
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Josefin+Sans:wght@400&family=Pinyon+Script&display=swap');


body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    min-width: 1528px;
    height: 220px;
    background-color: #eba4b0;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}

figure {
    display: flex;
    flex-direction: row;

}

main {
    display: flex;
    flex-direction: column;
    width: 1050px;
}

/*Foi necessário criar todo conteúdo de "article" para display flex, para poder alinhar a imagem com o último parágrafo.*/

article {
    display: flex;
    flex-direction: column;
    
}

p {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 19px;
    text-indent: 10px;
    text-align: justify;
    margin: 7px;
}

mark {
    background-color: #f8c2cbb0;
}

footer {
    min-height: 150px;
    width: 1600px;
    border-top: solid 1px #cdcdcd;
    background-color: #eba4b0;   
    display: flex;
    flex-direction: row;
    align-items: center;    
}

ul { list-style: none; padding-left: 5px; }

a { color:rgb(39, 59, 243); text-decoration: none;  font-family: 'Josefin Sans';}

h2 {
    font-family: 'Aref Ruqaa', sans-serif;
}

.title {
    margin-left: 55px;
    font-family: 'Aref Ruqaa', sans-serif;
    margin-bottom: 2px;

}

.logomarca {
   width: 160px;
   height: 170px;
   padding-top: 15px;
   padding-left: 30px;
   
}

.atelie {
    font-family: 'Pinyon Script', cursive;
    font-size: 8em;
    padding-left: 50px;
    margin-top: 40px;
}

.content {
    display: flex;
    flex-direction: row;
}

.navegacao {
    width: 250px;
    padding-left: 1rem;
    border-right: solid 1px #cdcdcd;
    background-color: #f0d2d7;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.anchors {
    width: 282px;
    display: flex;
    flex-direction: column;
    border-left: solid 1px #cdcdcd;
    background-color: #f0d2d7;
    align-items: center;
    font-size: 18px;

}

.lacos {
    font-family: 'Aref Ruqaa', sans-serif;
    font-size: 25px;
}

.artesan {
    border-radius: 70%;
    width: 150px;
    height: 180px;
    padding: 10px;    
}

.frase {
    font-size: 45px;
    padding-left: 45px;
    padding-right: 70px;
    font-family: 'Aref Ruqaa', sans-serif;
}

.frase-final {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cuidados{
    font-family: 'Josefin Sans';
    padding-left: 90px;
    font-size: 25px;
    list-style-image: url(/check/Sem\ título.png);
}

.carinho {
    font-family: 'Josefin Sans';
    font-size: 35px;
    padding-left: 40px;

}

.chamada {
    font-size: 30px;
}

.contato {
    display: flex;
    flex-direction: column;
}

.list-contato {
    margin-top: 0.1px;
    font-size: 18px;
}

.titulo-contato {
    font-size: 25px;
    margin-bottom: 2px;
    font-family: 'Aref Ruqaa', sans-serif;
}

.redessociais{
    margin-top:30px;
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.insta {
    height: 190px;
    margin-right: 10px;
    margin-left: 10px;
}

.whats-icon {
    height: 150px;
}

.face-icon {
    height: 150px;
}
