/*Para colocar novo estilo de fonte, precisa vir na primeira linha no CSS*/
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Josefin+Sans:wght@400&family=Pinyon+Script&display=swap');


body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    min-width: 300px;
    height: 220px;
    background-color: #eba4b0;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}

figure {
    display: flex;
    flex-direction: row;

}

main {
    display: flex;
    flex-direction: column;
    width: 1050px;
}

/*Foi necessário criar todo conteúdo de "article" para display flex, para poder alinhar a imagem com o último parágrafo.*/



p {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 19px;
    text-indent: 10px;
    text-align: justify;
    margin: 7px;
}

mark {
    background-color: #f8c2cbb0;
}

footer {
    min-height: 150px;
    min-width: 300px;
    border-top: solid 1px #cdcdcd;
    background-color: #eba4b0;   
    display: flex;
    flex-direction: row;
    align-items: center;    
}

ul { list-style: none; padding-left: 5px; }

a { color:rgb(39, 59, 243); text-decoration: none;  font-family: 'Josefin Sans';}

h2 {
    font-family: 'Aref Ruqaa', sans-serif;
}


.title {
    margin-left: 55px;
    font-family: 'Aref Ruqaa', sans-serif;
    margin-bottom: 2px;
}

.title-laco {
    margin-left: 55px;
    font-family: 'Aref Ruqaa', sans-serif;
    margin-bottom: 2px;
    font-size: 50px;
}

.logomarca {
   width: 160px;
   height: 170px;
   padding-top: 15px;
   padding-left: 30px;
}

.atelie {
    font-family: 'Pinyon Script', cursive;
    font-size: 8em;
    padding-left: 50px;
    margin-top: 40px;
}

.content {
    display: flex;
    flex-direction: row;
    border-right: solid 1px #cdcdcd;
}

.navegacao {
    width: 250px;
    padding-left: 1rem;
    border-right: solid 1px #cdcdcd;
    background-color: #f0d2d7;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.anchors {
    width: 282px;
    display: flex;
    flex-direction: column;
    border-left: solid 1px #cdcdcd;
    background-color: #f0d2d7;
    align-items: center;
    font-size: 18px;
}

.lacos {
    font-family: 'Aref Ruqaa', sans-serif;
    font-size: 25px;
}

.artesan {
    border-radius: 70%;
    width: 150px;
    height: 180px;
    padding: 10px;    
}

.frase {
    width: 380px;
    font-size: 45px;
    padding-left: 45px;
    padding-right: 70px;
    margin-right: 55px;
    font-family: 'Aref Ruqaa', sans-serif;
}

.frase-final {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cuidados{
    font-family: 'Josefin Sans';
    padding-left: 90px;
    font-size: 25px;
    list-style-image: url(/check/Sem\ título.png);
}

.carinho {
    font-family: 'Josefin Sans';
    font-size: 35px;
    padding-left: 40px;
}

.chamada {
    font-size: 30px;
}

.header-contact{
    display: flex;
    height: 46vh;
}

.head-contato {
    width: 100vw;
    height: 46vh;
    border-right: solid 1px #cdcdcd;
}

.fig-contact {
    display:contents;
}

.main-contact {
    flex-wrap: wrap;
    height: 450px;
}

.content-contact {
    margin-top: 25px;
    align-items: center;
}

.frase-contact {
    font-size: 30px;
}

.mapa-google {

    display: flex;
    margin-top: 70px;
    margin-left: 40px;
    width: 30vw;
    height: 40vh; 
}

.footer-contact {
    background-color: #fde1d8;
}

.contato {
    display: flex;
    flex-direction: column;
}

.list-contato {
    margin-top: 0.1px;
    font-size: 18px;
    width: 250px;
}

.titulo-contato {
    font-size: 25px;
    margin-bottom: 2px;
    font-family: 'Aref Ruqaa', sans-serif;
}

.redessociais{
    margin-top:30px;
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.insta {
    height: 150px;
    margin-right: 10px;
    margin-left: 10px;
}

.whats-icon {
    height: 120px;
}

.whats-icon-contact {
    height: 190px;
}

.face-icon {
    height: 120px;
}

/*Precisou-se criar um container central para poder criar sub-filhos do contaier pai. E assim, poder trabalhar cada imagem com seu respectivo parágrafo*/

.lacos-product {
    flex-direction: column;
}

.fig-laco {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 40px;
}

.laco-1{
    width: 500px;
    height: 480px;
    border-radius: 25%;
    border:#eba4b0 solid 1px;
    box-shadow:#f5183d62 1px 1px 2px 0px;
}
.laco-2{
    width: 400px;
    height: 500px;
    border-radius: 15%;
    border:#eba4b0 solid 1px;
    box-shadow:#f5183d62 1px 1px 2px 0px;
}

.laco-3{
    width: 500px;
    height: 480px;
    border-radius: 25%;
    border:#eba4b0 solid 1px;
    box-shadow:#f5183d62 1px 1px 2px 0px;
}

.laco-4{
    width: 500px;
    height: 480px;
    border-radius: 25%;
    border:#eba4b0 solid 1px;
    box-shadow:#f5183d62 1px 1px 2px 0px;
}

.laco-5{
    width: 500px;
    height: 580px;
    border-radius: 25%;
    border:#eba4b0 solid 1px;
    box-shadow:#f5183d62 1px 1px 2px 0px;
}

.laco-6{
    width: 500px;
    height: 580px;
    border-radius: 25%;
    border:#eba4b0 solid 1px;
    box-shadow:#f5183d62 1px 1px 2px 0px;
}

.laco-7{
    width: 500px;
    height: 580px;
    border-radius: 25%;
    border:#eba4b0 solid 1px;
    box-shadow:#f5183d62 1px 1px 2px 0px;
}

.laco-8{
    width: 500px;
    height: 480px;
    border-radius: 25%;
    border:#eba4b0 solid 1px;
    box-shadow:#f5183d62 1px 1px 2px 0px;
}


.laco-9{
    width: 500px;
    height: 480px;
    border-radius: 25%;
    border:#eba4b0 solid 1px;
    box-shadow:#f5183d62 1px 1px 2px 0px;
}

.description-laco {
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    margin-right: 35px;

}

.frase-final {
    font-family: 'Aref Ruqaa', sans-serif;
    font-size: 50px;
}

/*precisou criar um display filho para poder colocar o link em linha começando pelo ordem contrária pelo atributo "row-reverse"*/
.voltar-laco {
    display: flex;
    flex-direction:row-reverse;
    margin-right: 25px;
    margin-bottom: 10px;
    font-size: 17px;
}